.form{
    position: absolute;
    left: 14%;
    display: flex;
    width:150px;
}

.input{
    background: transparent;
    border-color: #ab1616;
    border-bottom-width: 1px;
    padding: 15px;
    padding-left: 0;
    display: flex;
    color:aqua;
    width: 140%;
}

::placeholder{
    font-size: larger;
    color: #d61515;
}

